div{
    margin-top: 0;
}
body{
    margin:0;
    font-size:20px;
    color:#40514E;
    font-family: 'BenchNine', sans-serif;
    text-align: center;
}
h1{
    margin:50px;
    font-size:2em;
    width:40%;
    color: #66BFBF;
    font-family: 'Oswald', sans-serif;
    margin:0 auto 0 auto;
}
.top{
    padding-top: 100px;
    background-color: #EAF6F6;
}
.cloud1{
    position:absolute;
    right: 300px;
    top:40px;
}
.cloud2{
    position:absolute;
    left: 300px;
    
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1;
    color: #66BFBF;
}
h3{
    color:#11999E;
    margin:0;
    padding:0;
}
a{
    color:#11999E;
    font-family: 'Oswald', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted gray 5px;
    border-bottom: none;
    width:4%;
    margin:40px auto;
}
.photo-id{
    border-radius: 50%;
    height:300px;
    width:250px;
}
.middle-container{
    background-color: #ffffff;
    margin:80px auto;
}
.intro{
    width:30%;
    margin:40px auto;
}
.skill-row{
    margin:30px auto 30px auto;
    width:50%;
    text-align: left;
    line-height: 2;
   
}
p{
    font-size: 1.3 rem;
    line-height: 2;
}
.skill-img1{
    border-radius: 50%;
    width:25%;
    float:left;
    margin-right:20px;
    
}
.skill-img2{
    border-radius: 50%;
    width:25%;
    float:right;
    margin-left:20px;
}
.btn {
    margin-top:120px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    padding:50px 0 20px;
    background-color: #66BFBF;
  }
.copyrights{
    color:#EAF6F6;
    font-size: 1rem;
    padding:20px 0;
}